<% category = local_assigns[:category ] %>
<%= form_with(model: category, local: true) do |f| %>
  <%= errors_for category %>
  
  <fieldset class="col-md-12">
    <fieldset class="col-md-6">
      <legend> Category </legend>
      <div class="form-group">
        <%= f.label :name  %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :parent_id  %>
        <%= f.select :parent_id, options_for_select(@categories.map{|i| ["#{'-' * i.depth} #{i.name}",i.id]},category.parent && category.parent.id), { include_blank: 'root' },{ class: 'form-control'} %>
      </div>
      <%= render 'categories/category_details', category: category %>
    </fieldset>
    <fieldset class="col-md-6">
      <div id="parent_details"></div>
    </fieldset>
  </fieldset>
  <fieldset class="col-md-12">
    <div class="actions">
      <%= f.submit %>
    </div>
  </fieldset>
<% end %>

<script>
var action_name = "<%= action_name %>";
  
  if (!action_name == 'edit'){
    getParentCategoryDetails();
  }
  
  $("#category_parent_id").on('change',function(e){
  getParentCategoryDetails();
});

function getParentCategoryDetails(){
  var parent_id = $("#category_parent_id").val();
  if (parent_id){
    var ajaxReq = $.ajax('/categories/' + parent_id, {
                        dataType: "script",
                        timeout: 1500,
                        data: { view: 'get_parent_details' }
                      });
    ajaxReq.error(function (jqXhr, textStatus, errorMessage) {
        $('p').append('Error: ' + errorMessage);
    });
  } else {
    $("#parent_details").html("");
  }

}
</script>
