<% category = local_assigns[:category ] %>
<%= form_with(model: category, local: true) do |f| %>
  <% if category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>
      <ul>
      <% category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset class="col-md-6">
    <legend> Category </legend>
    <div class="form-group">
      <%= f.label :name  %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :parent_id  %>
      <%= f.select :parent_id, options_for_select(@categories.map{|i| ["#{'-' * i.depth} #{i.name}",i.id]}  ),{ include_blank: "Root"},{ class: 'form-control'} %>
    </div>
    <%= render 'categories/category_details', category: category %>
  </fieldset>
  <fieldset class="col-md-6">
    <div id="parent_details"></div>
  </fieldset>
  <fieldset class="col-md-12">
    <div class="actions">
      <%= f.submit "Create", class: "btn btn-primary" %>
    </div>
  </fieldset>
<% end %>

<script>
var action_name = "<%= action_name %>";
  GetParentCategoryDetails();
  $("#category_parent_id").on('change',function(e){
  GetParentCategoryDetails();
});

function GetParentCategoryDetails(){
  var parent_id = $("#category_parent_id").val();
  if (parent_id){
    var ajaxReq = $.ajax('/categories/' + parent_id, {
                        dataType: "script",
                        timeout: 1500,
                        data: { view: 'get_parent_details' }
                      });
    ajaxReq.error(function (jqXhr, textStatus, errorMessage) {
        $('p').append('Error: ' + errorMessage);
    });
  } else {
    $("#parent_details").html("");
  }

}
</script>
