<% product = local_assigns[:product ] %>
<%= form_with(model: product, local: true) do |f| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>
      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset class="col-md-12">
    <fieldset class="col-md-6">
      <legend> Product </legend>
      <div class="form-group">
        <%= f.label :category_id  %>
        <%= f.select :category_id, options_for_select(@categories.map{|i| ["#{'-' * i.depth} #{i.name}",i.id]},product.category && product.category.id),{},{ class: 'form-control'} %>
      </div>
      <div class="form-group">
        <%= f.label :name  %>
        <%= f.text_field :name, class: 'form-control'  %>
      </div>
    </fieldset>
    <fieldset class="col-md-6">
      <legend> Product Details</legend>
      <div id="product_category_details">
        <%= render 'products/product_category_details', category: product.category %>
      </div>
      <div id="category_details"></div>
    </fieldset>
  </fieldset>
  <fieldset class="col-md-12">
    <div class="actions">
      <%= f.submit %>
    </div>
  </fieldset>
<% end %>

<script>
  action_name = "<%= action_name %>"
  if ( action_name == 'new'){
    GetCategoryDetails();
  }
  $("#product_category_id").change(function(e){
    e.preventDefault();
    $("#product_category_details").html("");
    GetCategoryDetails();
  });

function GetCategoryDetails(){
  var category_id = $("#product_category_id").val();
  if (category_id){
    var ajaxReq = $.ajax('/categories/' + category_id, {
                        dataType: "script",
                        timeout: 1500,
                        data: { view: 'product_category_details' }
                      });
               
    ajaxReq.error(function (jqXhr, textStatus, errorMessage) {
        $('p').append('Error: ' + errorMessage);
    });
  } else {
    $("#category_details").html("");
  }
  
}
</script>