<div class="row">
  <div class="col-sm-4">
    <%= render 'search'  %>
  </div>

  <div class="col-sm-8">
    <h2>Products</h2>          
    <table id="products-table" class="table table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Category Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @products.each do |product| %>
          <tr>
            <td class="category"><%= product.category.name %></td>
            <td class="name"><%= product.name %></td>
            <td>
              <%= link_to 'Show', product %>
              <%= link_to 'Edit', edit_product_path(product) %>
              <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div>
  <div class="row">
    <div class="col-sm-12">
      <%= link_to 'New Product', new_product_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
