<h1><%= @product.name %></h1>
<h3>Category: <%= @product.category.name %></h3>
</br>
<% if @product.product_details  %>
  <table id="product-show-table" class="table table-striped ">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Details name</th>
        <th scope="col">Product details</th>
      </tr>
    </thead>
    
    <tbody>
    	<% @product.product_details.each_with_index do |(k,v), index | %>
        <tr>
          <th scope="row"><%= index + 1 %></th>
          <td><%= @product.category.category_details[k] ? @product.category.category_details[k]["field_name"] : "----"  %></td>
          <td>
            <% if v.class == Array %>
              <% v.each do |option| %>
                <span><%= option %></span>
              <% end %>
            <% else %>
              <%= v %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>

